<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.therapiapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TherapiApp">
        <activity android:name=".ProfileBearbeiten"></activity>
        <activity android:name=".AnmeldingErfolgreich" />
        <activity android:name=".Registrierung2" />
        <activity android:name=".Datenschutz" />
        <activity android:name=".Einstellungen" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".Kontakte" />
        <activity android:name=".Wiki" />
        <activity android:name=".ChatBot" />
        <activity android:name=".KontactFormular" />
        <activity android:name=".Hilfe" />
        <activity android:name=".Profil">

        </activity>
        <activity android:name=".Tagesziel" />
        <activity android:name=".Ubungen" />
        <activity android:name=".Tagebuch" />
        <activity android:name=".Startseite" />
<!--        hier -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>