<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.therapiapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/genki"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/genki"
        android:supportsRtl="true"
        android:theme="@style/Theme.TherapiApp">
        <activity android:name=".tagesbuch.TagesbuchList" />
        <activity android:name=".tagesbuch.Tagebuch" />
        <activity android:name=".register.ZweckActivity" />
        <activity android:name=".register.AnmeldingErfolgreich" />
        <activity android:name=".register.Registrierung2" />
        <activity android:name=".register.RegisterActivity" />
        <activity android:name=".wiki.Wiki" />
        <activity android:name=".wiki.WikiItem" />
        <activity android:name=".chat_bot.ChatBot" />
        <activity android:name=".other.NotfallKontakte" />
        <activity android:name=".other.ProfileBearbeiten" />
        <activity android:name=".other.Datenschutz" />
        <activity android:name=".other.Einstellungen" />
        <activity android:name=".other.Kontakte" />
        <activity android:name=".other.KontactFormular" />
        <activity android:name=".other.Hilfe" />
        <activity android:name=".other.Profil" />
        <activity android:name=".ubungen.Activities" />
        <activity android:name=".ubungen.NewActivities" />
        <activity android:name=".ubungen.SelectActivityType" />
        <activity android:name=".ubungen.ActivityItem" />
        <activity android:name=".ubungen.OpenActivityItem" />
        <activity android:name=".tagesziel.Tagesziel" />
        <activity android:name=".Startseite" /> <!-- hier -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>